{% extends 'admin.html.twig' %}

{% block title %}Cart index{% endblock %}

{% block body %}
    <h1>Cart index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>Fullname</th>
                <th>TransportName</th>
                <th>TransportPrice</th>
                <th>LivraisonAdresse</th>
                <th>IsPaid</th>
                <th>MoreInformations</th>
                <th>Quantity</th>
                <th>SubTotalHT</th>
                <th>Taxe</th>
                <th>SubTotalTTC</th>
                <th>email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cart in carts %}
            <tr>
                <td>{{ cart.id }}</td>
                <td>{{ cart.reference }}</td>
                <td>{{ cart.fullname }}</td>
                <td>{{ cart.transportName }}</td>
                <td>{{ cart.transportPrice }}</td>
                <td>{{ cart.livraisonAdresse }}</td>
                <td>{{ cart.isPaid ? 'Yes' : 'No' }}</td>
                <td>{{ cart.moreInformations }}</td>
                <td>{{ cart.quantity }}</td>
                <td>{{ cart.subTotalHT }}</td>
                <td>{{ cart.taxe }}</td>
                <td>{{ cart.subTotalTTC }}</td>
                <td>{{ cart.getUser().getEmail() }}</td>

                <td>
                    <a href="{{ path('app_cart_show', {'id': cart.id}) }}">show</a>
                    <a href="{{ path('app_cart_edit', {'id': cart.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cart_new') }}">Create new</a>
    
{% endblock %}
