{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Events</h1>
<div class="container">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.nom }}</td>
                <td>{{ event.type }}</td>
                <td>{{ event.dateEvent ? event.dateEvent|date('d-m-Y') : '' }}</td>

                <td>
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>
                </td>
                   <td> {{ include('event/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn btn-info">  <a  href="{{ path('app_event_new') }}">Create</a></button>
    <form method="post" action={{ path('recherche') }}><input type="text" name="search">
        <button type="submit">rechercher</button>
    </form>
    <button><a href={{ path('app_date_event') }}> SHOW 3 BY LATEST DATE </a></button>
    <button><a href={{ path('app_2dates_event') }}> GET DATES BETWEEN </a></button>
</div>


{% endblock %}
