{% extends 'detail_blog.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}
<table class="table">
        <tbody>
           <tr>
                <th>Nom</th>
                <td>{{ commentaire.getNomC()}}</td>
            </tr>
              <tr>
                <th>Email</th>
                <td>{{ commentaire.getEmailC()}}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ commentaire.contenuC }}</td>
            </tr>
             <tr>
                <th>Titre Article</th>
                <td>{{ commentaire.getIdArticle().getTitreArticle()}}</td>
            </tr>
             <tr>
                <th>date de  comentaire</th>
            
             <td>{{commentaire.getDateCom()|date('y-M-d H:i:s')}}</td>
                </tr>
                
           
        </tbody>
    </table>

    <a href="{{ path('app_commentaires_show_front') }}">back to list</a>
  <div id="myresult" class="img-zoom-result"></div>
</div>

{% endblock %}