{% extends 'base.html.twig' %}

{% block title %}Reclamationn index{% endblock %}

{% block body %}
    <h1><center>Reclamationn index</center></h1>
 <br><br> <br><br> <br><br> <br><br> <br><br>
 <div class="container">
     <table class="table table-dark table-striped">
     <div class="mt-5 mb-6 ">
        <thead>
            <tr>
                <th>Id</th>
                <th>IdUser</th>
                <th>Email</th>
                <th>Categorie</th>
                <th>Etat_reclamation</th>
                <th>Priorite</th>
                <th>actions</th>
            </tr>
        </thead>
        </div>
        <tbody>
        {% for reclamationn in reclamationns %}
            <tr>
                <td>{{ reclamationn.id }}</td>
                <td>{{ reclamationn.idUser }}</td>
                <td>{{ reclamationn.email }}</td>
                <td>{{ reclamationn.categorie }}</td>
                <td>{{ reclamationn.etatReclamation }}</td>
                <td>{{ reclamationn.priorite }}</td>
                <td>
                 <div class="my-2"></div>
                    <a href="{{ path('app_reclamationn_show', {'id': reclamationn.id}) }}" class="btn btn-success btn-icon-split">
                    <sapn class="text">show</span>
                    </a>
                      <div class="my-2"></div>
                    <a href="{{ path('app_reclamationn_edit', {'id': reclamationn.id}) }}"class="btn btn-success btn-icon-split">
                     <span class="text">edit</span>
                     </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
  <div class="my-2">
    <a href="{{ path('app_reclamationn_new') }}"class="btn btn-success btn-icon-split">
     <span class="text">Create new</span>
     </a></div>
{% endblock %}
