{% extends 'base.html.twig' %}

{% block title %}Reclamationn{% endblock %}

{% block body %}
    <h1>Reclamationn</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reclamationn.id }}</td>
            </tr>
            <tr>
                <th>IdUser</th>
                <td>{{ reclamationn.idUser }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ reclamationn.email }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ reclamationn.categorie }}</td>
            </tr>
            <tr>
                <th>Etat_reclamation</th>
                <td>{{ reclamationn.etatReclamation }}</td>
            </tr>
            <tr>
                <th>Priorite</th>
                <td>{{ reclamationn.priorite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reclamationn_index') }}">back to list</a>

    <a href="{{ path('app_reclamationn_edit', {'id': reclamationn.id}) }}">edit</a>

    {{ include('reclamationn/_delete_form.html.twig') }}
{% endblock %}
