{% extends 'base.html.twig' %}

{% block title %}Priorite index{% endblock %}

{% block body %}
    <h1><center>Priorite index</center></h1>
 <br><br> <br><br> <br><br> <br><br> <br><br>
<div class="container">
    <table class="table table-dark table-striped">
  
<div class="mt-5 mb-6 ">
   <thead> 
 
            <tr>
                <th>Id</th>
                <th>Id_type</th>
                <th>Description</th>
               
                <th>actions</th>
            </tr>
        </thead>
        </div>
        <tbody>
        {% for priorite in priorites %}
            <tr>
                <td>{{ priorite.id }}</td>
                <td>{{ priorite.description }}</td>
        
                <td>{{ priorite.getIdType().getNomType()}}</td>
                
                <td>
                    <div class="my-2"></div>
                    <a href="{{ path('app_priorite_show', {'id': priorite.id}) }}" class="btn btn-success btn-icon-split">
                     <span class="text">show</span>
                     </a>
                       <div class="my-2"></div>
                    <a href="{{ path('app_priorite_edit', {'id': priorite.id}) }}"class="btn btn-success btn-icon-split">
                     <span class="text">edit</span>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
  <div class="my-2">
    <a href="{{ path('app_priorite_new') }}"class="btn btn-success btn-icon-split">
      <span class="text">Create new</span>
    </a></div>
{% endblock %}
