{% extends 'base.html.twig' %}

{% block title %}Priorite{% endblock %}

{% block body %}
    <h1>Priorite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ priorite.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ priorite.description }}</td>
            </tr>
             <tr>
                <th>Type</th>
                <td>{{ priorite.getIdType().getNomType()}}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_priorite_index') }}">back to list</a>

    <a href="{{ path('app_priorite_edit', {'id': priorite.id}) }}">edit</a>

    {{ include('priorite/_delete_form.html.twig') }}
{% endblock %}
