{% extends 'base.html.twig' %}

{% block title %}Tool index{% endblock %}

{% block body %}
    <h1>Tool index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Returned</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tool in tools %}
            <tr>
                <td>{{ tool.id }}</td>
                <td>{{ tool.name }}</td>
                <td>{{ tool.returned ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_tool_show', {'id': tool.id}) }}">show</a>
                    <a href="{{ path('app_tool_edit', {'id': tool.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tool_new') }}">Create new</a>
{% endblock %}
