{% extends 'admin.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NameProduct</th>
                <th>Description</th>
                <th>MoreInformations</th>
                <th>Price</th>
                <th>IsBest</th>
                <th>IsNew</th>
                <th>IsFeatured</th>
                <th>IsSpecialOffer</th>
                <th>Image</th>
                <th>Quantity</th>
                <th>Tags</th>
                <th>Slug</th>
                <th>Categoriees</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.nameProduct }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.moreInformations }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.isBest ? 'Yes' : 'No' }}</td>
                <td>{{ product.isNew ? 'Yes' : 'No' }}</td>
                <td>{{ product.isFeatured ? 'Yes' : 'No' }}</td>
                <td>{{ product.isSpecialOffer ? 'Yes' : 'No' }}</td>
                <td><img src="/uploads/{{ product.image }}" alt="image" width="100" height="100"></td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.tags }}</td>
                <td>{{ product.slug }}</td>
                 {# <td>{{ product.getCategory().getNameCategorie() }}</td> #}

                <td>
                    <a href="{{ path('app_prodouit_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('app_prodouit_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_prodouit_new') }}">Create new</a>
{% endblock %}
