{% extends 'front.html.twig' %}

{% block title %}Articles {% endblock %}

{% block body %}
  <section class="breadcrumb-section set-bg" data-setbg="{{asset('font/img/breadcrumb-bg.jpg')}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Our Blog</h2>
                        <div class="bt-option">
                            <a href="./index.html">Home</a>
                            <a href="#">Pages</a>
                            <span>Blog</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
 <!-- Blog Section Begin -->
    <section class="blog-section spad">
        <div class="container">
            <div class="row">
            {% for message in app.flashes('mercuryseries_flashy_notification') %}
    <script id="flashy-template" type="text/template">
        <div class="flashy flashy--{{ message.type }}">
            <a class="flashy__body" href="#" target="_blank"></a>
        </div>
    </script>

    <script>
        flashy("{{ message.message }}", "{{ message.link }}");
    </script>
{% endfor %}
                <div class="col-lg-8 p-0">
                {% for article in articles %}
                    <div class="blog-item">
                        <div class="bi-pic">
     

                    <img src="/uploads/{{ article.getImageArticle()}}" alt="image_article" width="100" height="100" >
                      </div>
                        
                        <div class="bi-text">
                            <h5><a href="{{ path('app_articles_show_front', {'id': article.id}) }}">{{ article.titreArticle }}</a></h5>
                                <ul>
                                <li>by {{ article.auteurArticle }} </li>
                                <li>{{article.getDateA()|date('d-M-y ')}}</li>
                                <li>{{ article.commentaires | length }} Comment</li>
                            </ul>
 
                            <li class="icon-right-open "><a href="{{ path('app_articles_show_front', {'id': article.id}) }}"> En savoir plus</a></li>
   <div class="co-item">
                        <div class="co-widget">
                      
			
                                           <span class="js-likes"> <a href="{{ path('post_like' , {'id': article.id}) }}"><i class="fa fa-thumbs-up"></i></a> 
                                       <span class="js-label">J'aime</span>  <span class="js-likes">{{ article.likes | length }} </span>
                                       
                       
                            <a href="{{ path('post_like',{'id':article.id })}}" class="btn btn-link js-like "></a>
                          

                                  </diV>
                                  </div>
                    </div>
                    
                    
                    </div>
                     
                        
<style>


.icon-right-open:before {
                                 font-family:'FontAwesome';

    content: ">";
}
</style>
                       {% endfor %}
                    
             
                   
                </div>
                 <div class="col-lg-4 col-md-8 p-0">
                    <div class="sidebar-option">
                        <div class="so-categories">
                            <h5 class="title">Categories</h5>

                            <ul>
                            <li><a href="#"> {% for categorie_a in categorie_as %}
                                      

                                                 <div> {{ categorie_a.typeA }}</div>
                                               <span>12</span>{% endfor %}</a></li> 
                               
                            </ul>
                        </div>

                           
                        <div class="so-latest">
                            <h5 class="title">Comments</h5>
               <div class="ll-text">               
    <div class="comment">
     {% block content %}
 

  {% if commentaires|length > 0 %}
    {% for commentaire in commentaires %}
   
      {% if commentaire.approved %}
        <div class="comment">
         <div class="co-pic">
     <img src="{{asset('font/img/blog/details/comment-1.jpg')}}" alt="">
       <div class="co-text">
       <div class="co-item">
      <div class="co-widget">
     <a href="#"><i class="fa fa-heart-o"></i></a>
      <a href="{{ path('app_commentaires_new')}}"><i class="fa fa-share-square-o"></i></a>
        </div>

          <p>{{ commentaire.getIdArticle().getTitreArticle() }}<p>
          
          <p>{{ commentaire.contenuC }}</p>
          <p>{{ commentaire.getDateCom()|date('y-M-d H:i:s') }}</p>
          <span class="badge badge-success">Approuvé</span>
            <a href="{{ path('app_commentaires_edit', {'id': commentaire.id}) }}">edit</a>
        </div>
      {% endif %}
    {% endfor %}
  {% else %}
    <p>Aucun commentaire approuvé trouvé.</p>
  {% endif %}

{% endblock %}                     </div>
                                   
                                    
           
         </div>
                                
          
    
                                  </div>
                                  </div>
                            
 
                            <a href="{{ path('app_commentaires_new') }}">Commenter</a>
                           
                             
                    </div>
                         <div class="blog-pagination"><a{{ knp_pagination_render(articles) }}></a></div>
                </div>
            </div>
          
        </div>
 
    </section>
    <!-- Blog Section End -->
    
 {% endblock %}