{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}
    <h1>Planning</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ planning.id }}</td>
            </tr>
            <tr>
                <th>Date_cours</th>
                <td>{{ planning.dateCours ? planning.dateCours|date('Y-m-d') : '' }}</td>
            </tr>
             <tr>
                <th>cours</th>
                <td>{{ planning.getCours().getNomCours() }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_planning_index') }}">back to list</a>

    <a href="{{ path('app_planning_edit', {'id': planning.id}) }}">edit</a>

    {{ include('planning/_delete_form.html.twig') }}
{% endblock %}
