<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Produit</title>
    <style>
        h1 {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
            color: rgb(26, 150, 126);
        }
        table {
            background-color: white;
            border: 2px solid rgb(26, 150, 126);
            border-collapse: collapse;
            width: 70%;
            margin: 0 auto;
            background-color: rgba(0, 34, 255, 0.03);
            border-collapse: collapse;
            font-size: 20px;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid rgb(26, 150, 126);
        }

        .table-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
<div class="table-container">
    <h1> Liste Des Produits </h1>
    <table class="table table-striped">
        <thead>
        <tr>
                <th>Id</th>
                <th>Name product</th>
                <th>Description</th>
                <th>>More Information</th>
                <th>price</th>
                <th>quantity</th>
            </tr>
        </thead>
        <tbody>
        {% for product in product %}
            <tr>
                <td>{{ product.id }}</td>
                

                <td>{{ product.nameProduct }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.moreInformations }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>